body{
	background:url("../../images/images11.jpg");
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
	
}
#afficheparametre{
	position:fixed;
	display:block;
	height:20%;
	width:45%;
	top:1%;right:1%;
	z-index:6000;
	background-color:white;
}
#afficheparametre div,#btnparametre{
	cursor:pointer;
}
#couleurentete{
	position:fixed;
	display:block;
	height:12%;
	width:100%;
	top:0;left:0;right:0;
	background:#6cab55;
	z-index:700;
}
#entetedrapeau{
	position:fixed;
	display:block;
	height:8%;
	width:100%;
	top:13%;left:0;right:0;
	z-index:700;
	text-align:center;
	transform: translateX(38%);
}
#enteteenveloppe{
	position:fixed;
	display:block;
	height:8%;
	width:100%;
	top:30%;right:10%;
	z-index:700;
	text-align:right;
}
section{
	position:fixed;
	display:block;
	width:100%;
	top:45%;left:0;right:0;bottom:0;
	z-index:700;
	text-align:right;
	overflow:auto;
}
.obligatoire{
	color:red;
}
body #recherche label{
	color:orange;
}
body #accueil{
	position:absolute;
	top:6%;
}
body #alerteur{
	position:absolute;
	top:24%;
	left:35%;
	z-index:1000;
}
body #imagezoomer{
	position:absolute;
	top:5%;
	z-index:1500;
}
body .retour,#affichemesmsg{
	cursor: pointer;
}
#corps_reservations tr,#corps_reservations2 tr,#corps_reservations3 tr,#corps_reservations4 tr{
	background-color:white;
}
body #mode_paiement{
	position:absolute;
	top:0;
	left:20%;
	z-index:5000;
	color:orange;
	background-color:white;
	border:1px outset black;
}
body #afficheload{
	position:fixed;
	top:50%;
	left:35%;
	z-index:4500;
	color:orange;
	background-color:#ADD8E6;
	border:none;
	
}
#masquepage{
	background-color:rgba(1,1,1,0);
	bottom:0;
	left:0;
	position:fixed;
	top:0;
	right:0;
	z-index:4000;
}
#modalimagepiece{
	background-color:rgba(1,1,1,0);
}
#masquepage2{
	background-color:white;
	bottom:0;
	left:0;
	position:fixed;
	top:12%;
	right:0;
	z-index:4000;
}
body #mode_paiement h5{
	cursor: pointer;
}
/* body .modal{ */
       /* margin:0 auto; */
       /* display:table; */
       /* position: absolute; */
       /* left: 0; */
       /* right:0; */
       /* top: 50%;  */
       /* border:1px solid; */
       /* -webkit-transform:translateY(-50%); */
       /* -moz-transform:translateY(-50%); */
       /* -ms-transform:translateY(-50%); */
       /* -o-transform:translateY(-50%); */
       /* transform:translateY(-50%); */
/* } */

