<div id='monaccueil' style='position:absolute;top:40%'>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
						<button class="form-control btn btn-success" name="aenvoyer" style='display:inline-block' id='argentaenvoyer'>Argent à envoyer</button>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
						<button class="form-control btn btn-info" name="confirmer" style='display:inline-block' id='confirmeargent'>confirmer argent recu</button>
					</div>
				</div>