<div style="position:absolute;top:30%" class="panel panel-primary col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
					<button id="retour" class="btn btn-default"><- Retour</button><br><br><div class="panel-heading">
						<h4><center><img alt = "" src="images/logo_find.jpg" class="img-responsive" width='20%'>Ajouter le solde de l'utilisateur</center></h4>
					</div>
					<div class="panel-body">
						<form action ="" method="post" data-url="https://findtagant.online//controleur/solde.php" id="form_ajoutmontant">
							<span id='messageconnection' style='color:red'></span>
							<div class="form-group">
								<label for="loginformconnection">Montant:</label>
								<input type="number" class="form-control" required id="montant"  value='3000' name="montant" placeholder="montant à verser">
							</div>
							<div class="form-group">
								<label for='mdp'>Numéro:</label>
								<div class="input-group"> 
									<input type="number" class="form-control" required id="numero"  name="numero" placeholder="Numéro users">
								</div>
							</div>
							<button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-ok-sign"></span> Envoyer</button>
							<input type='reset' style='display:none' id="reseteur">
						</form>
					</div>
				</div>