<div id="accueil" name="accueil">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
						<input type="button" class="form-control boutonaccueil langue input" name="rechercher" value="Rechercher une pièce">
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
						<input type="button" class="form-control boutonaccueil langue input" name="listepieceperdu" value="Ajouter les pièces perdues">
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
						<input type="button" class="form-control boutonaccueil langue input" name="listemespieces" value="Enregistrer mes pieces">
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
						<select class="form-control form-group boutonselect select" name="select">
							<option class="langue">Liste de vos pièces:</option>
							<option class="langue" value="piecearetrouves">A retrouver</option>
							<option class="langue" value="listepieceretrouve">Retrouvée</option>
						</select>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
						<select class="form-control form-group select" name="select" id='changerpays'>
							<option class="langue">Changer de pays</option>
							<option value="Cameroon">Cameroon</option>
							<option value="Gabon">Gabon</option>
						</select>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
						<input type="button" class="form-control boutonaccueil langue input" name="suggestions" value="Vos suggestions">
					</div>
				</div>