<div id="pieceperdu"  name='ajoutpieceperdu' class="panel panel-primary col-xs-12 col-lg-12 col-sm-12 col-md-12">
					<div class="pull-left retour" name="accueil"><span class="glyphicon glyphicon-arrow-left"></span><span style="color:orange" class='langue'>	retour</span></div><br><br>
					<form action ="#" data-url="https://findtagant.online/controleur/ajoutpieceperdu.php" method="post" id="form_ajoutpieceperdu">
						<div class="panel-heading">
							<h4><center><span class='langue'>Ajout pièce(s) perdue(s)</span></br><span style="font-size:0.6em" class='langue'>(cliquer sur enregistré après chaque enregistrement et sur enregistrement terminer après avoir terminé d'enregistrer)</span></center></h4>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
								<label class='pull-left'><span class='langue'>Nom:</span></label>
								<input type="text" class="form-control inputfr" name="nom" placeholder="Nom" minlength="2" required>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
								<label class='pull-left'><span class='langue'>Prénom:</span></label>
								<input type="text" class="form-control inputfr" name="prenom" placeholder="Prenom" minlength="2" required>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
								<label class='control-label langue pull-left'>Date de naissance (jj/mm/aaaa):</label>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
									<div><input type='number' minlength="2" maxlength='2' placeholder="jour" required name='jour' class='col-offset-xs-1 col-offset-sm-1 col-offset-md-1 col-offset-lg-1  col-xs-3 col-sm-3 col-md-3 col-lg-3'></div>
									<div><input type='number' minlength="2" maxlength='2' placeholder="mois" required name='mois' class='col-offset-xs-1 col-offset-sm-1 col-offset-md-1 col-offset-lg-1  col-xs-3 col-sm-3 col-md-3 col-lg-3'></div>
									<div><input type='number' minlength="4" maxlength='4' placeholder="annee" required name='annee' class='col-offset-xs-1 col-offset-sm-1 col-offset-md-1 col-offset-lg-1  col-xs-3 col-sm-3 col-md-3 col-lg-3'></div>
								</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
							<label class='langue pull-left'>Pays de provenance de la pièce:</label>
							<select class="form-control form-group listepays" name="pvp" required>
								<option>Cameroun</option>
								<option>Gabon</option>
							</select>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
							<label class='langue pull-left'>Catégorie de la pièce:</label>
							<select class="form-control form-group choixcategories" name="cp" required>
								<option value="CNI">CNI</option>
								<option value="PASSPORT">PASSPORT</option>
								<option value="PERMIS DE CONDUIRE">PERMIS DE CONDUIRE</option>
								<option value="ACTE DE NAISSANCE">ACTE DE NAISSANCE</option>
								<option value="CARTE DE SEJOUR">CARTE DE SEJOUR</option>
								<option value="AUTRE">AUTRE</option>
							</select>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group nompiece" style="display:none">
							<input type="text" class="form-control" placeholder="nom de cette pièce" name="nompiece">
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
							<label class='langue pull-left'>Numéro de la pièce:</label>
							<input type="number" class="form-control" name='np' placeholder="113249058" required>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
							<label class='langue pull-left'>Photo de la pièce:</label><br><br>
							<div class="arrow" id="divappareilphoto">
								<img id="appareil_photo" style ='display:inline-block' src='images/galerie.jpg' alt='Cliquer pour selectionner une image' class='img-responsive' height='15%' width='15%' required>
								<img id="appareil_photo2" style ='display:inline-block' src='images/appareil_photo.jpg' alt='choisir une photo' class='img-responsive' height='15%' width='15%' required>
							</div>
							<input type="file" id="photopiece" style="display:none" name='pp'>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
							<button type ="submit" class="btn btn-primary langue"><span class="glyphicon glyphicon-ok-sign"></span> Enregistrer</button>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group" id="enregistrement_termine">
							<button type ="submit" class="btn btn-success form-control langue"><span class="glyphicon glyphicon-ok-sign"></span> Enregistrements terminer</button>
						</div>
						<input type="reset" id="reseteur" style="display:none">
					</form>
				</div>