<div name='enregistrement' class="panel panel-primary col-xs-12 col-lg-12 col-sm-12 col-md-12">
					<div class="panel-heading">
						<h4><center><span class='langue'>Enregistrement</span></br><span style="font-size:0.6em" class='langue'>(Bien garder en memoire Tel1 et Tel2 car ils vous servirons à vous connecter)</span></center></h4>
					</div>
					<div class="panel-body">
						<form action ="#" data-url="https://findtagant.online/controleur/enregistrement.php" method="post" id="form_enregistrement">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
								<label class='langue pull-left'>Dans quel pays vous trouvez-vous?</label>
								<select class="form-control form-group listepays" name="pvu" required>
									<option>Cameroun</option>
									<option>Gabon</option>
								</select>
							</div>
							<div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
								<span class="input-group-addon"><span class='langue'>Nom:</span><span class="obligatoire">*</span></span>
								<input type="text" class="form-control inputfr" name="nom" placeholder="votre nom" minlength="2" required>
							</div>
							<div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
								<span class="input-group-addon"><span class='langue'>Prénom:</span><span class="obligatoire">*</span></span>
								<input type="text" class="form-control inputfr" name="prenom" placeholder="votre prenom" minlength="2" required>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
								<label class='control-label pull-left'><span class='langue'>Date de naissance (jj/mm/aaaa)</span><span class="obligatoire">*</span>:</label>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
									<div><input type='number' placeholder="jour" minlength="2" maxlength='2' required name='jour' class='col-offset-xs-1 col-offset-sm-1 col-offset-md-1 col-offset-lg-1  col-xs-3 col-sm-3 col-md-3 col-lg-3'></div>
									<div><input type='number' placeholder="mois" minlength="2" maxlength='2' required name='mois' class='col-offset-xs-1 col-offset-sm-1 col-offset-md-1 col-offset-lg-1  col-xs-3 col-sm-3 col-md-3 col-lg-3'></div>
									<div><input type='number' placeholder="annee" minlength="4" maxlength='4' required name='annee' class='col-offset-xs-1 col-offset-sm-1 col-offset-md-1 col-offset-lg-1  col-xs-3 col-sm-3 col-md-3 col-lg-3'></div>
								</div>
							</div>
							<div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
								<span class="input-group-addon"><span class='langue'>Telephone</span><span class="obligatoire">*</span>:</span>
								<input type="tel" class="form-control" name="tel1" required>
							</div>
							<div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
								<span class="input-group-addon"><span class='langue'>Mot de passe</span><span class="obligatoire">*</span>:</span>
								<div class="input-group"> 
									<input type="password" class="mdp form-control inputfr invisibless" name="mdp" required>
									<span class="input-group-addon affichermdp" style='cursor:pointer'><span class='glyphicon glyphicon-eye-close'></span></span> 
								</div>
							</div>
							<div id="inputsexe" class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
								<span class="input-group-addon"><span class='langue'>Sexe</span><span class="obligatoire">*</span>:</span>
								<div class="col-xs-6 col-sm-6 col-md-6"><label >Femme:<input id='sexefemme' type="radio" class="" name="sexe" value="f"></label></div>
								<div class="col-xs-6 col-sm-6 col-md-6"><label >Homme:<input id='sexehomme' type="radio" class="" name="sexe" value="h"></label></div>
							</div>
							<div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
								<span class="input-group-addon langue">Email:</span>
								<input type="email" class="form-control" name="email" placeholder="you@example.org">
							</div>
							<div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
								<input type="checkbox" id='case' class="pull-left" name="case" ><span class='langue'>Je reconnais avoir lu et compris les</span> <a href='https://findtagant.online/controleur/cgu.pdf' class='langue'>conditions générales d'utilisation</a> <span class='langue'> et je les accepte</span>.
							</div>
							<button type ="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> <span class='langue'>Valider</span></button>
							<input type="reset" id="reseteur" style="display:none">
						</form>
					</div>
				</div>