<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" name='listepieceretrouve'>
					<h4 style="color:orange">
						<center>
							<h4 class='langue'>Liste des pièces retrouvées</h4><br>
							<span style="font-size:0.8em;color:white" class='langue'>
								(Cette liste comporte vos de pièces retrouvées et le numéro de ceux qui les detiennent abrégé ici par téléphone_det.)
							</span>
						<center>
					</h4><br>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="pull-left col-xs-3 col-sm-3 col-md-3 col-lg-3 retour" name="accueil"><span style="color:white" class="glyphicon glyphicon-arrow-left"></span><span style="color:orange" class='langue'>	retour</span></div>
					</div><br><br><br>
					<table class="table table-bordered table-condensed table-striped table-responsive">
						<thead style="background-color:#0074d9">
							<th><center class='langue'>Nom et prénom</center></th>
							<th><center class='langue'>Numéro</center></th>
							<th><center class='langue'>Téléphone_det</center></th>
							<th><center class='langue'>Photo</center></th>
							<th><center class='langue'>Options</center></th>
						</thead>
						<tbody id="corps_reservations3"></tbody>
					</table>
				</div>