<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" name='listepieceperdu'>
					<h4 style="color:orange">
						<center>
							<h4 class='langue'>Liste des pièces perdues</h4><br>
							<span style="font-size:0.8em;color:white" class='langue'>
								(Les pièces dans les champs en vert sont ceux retrouvés par leurs possesseurs)
							</span>
						<center>
					</h4><br>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 retour" name="accueil"><span style="color:white" class="glyphicon glyphicon-arrow-left"></span><span style="color:orange" class='langue'>	retour</span></div>
						<div class="col-xs-offset-6 col-sm-offset-6 col-md-offset-6 col-lg-offset-6 col-xs-5 col-xs-3 col-sm-3 col-md-3 col-lg-3">
							<label><span style="color:orange" class='langue'>Ajout</span><select class="form_control boutonselect" name="select2">
								<option class='langue'>Choix</option>
								<option class='langue' value='unique'>Unique</option>
								<option class='langue' value='multiple'>Multiple</option>
							<select><label>
						</div>
					</div><br><br><br><br>
					<table class="table table-bordered table-condensed table-striped table-responsive">
						<thead style="background-color:#0074d9">
							<th><center class='langue'>Nom et prénom</center></th>
							<th><center class='langue'>date</center></th>
							<th><center class='langue'>Numéro</center></th>
							<th><center class='langue'>Options</center></th>
						</thead>
						<tbody id="corps_reservations"></tbody>
					</table>
				</div>