<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" name='suggestions'>
					<h4 style="color:orange">
						<center>
							<span class='langue'>Envoyez nous vos suggestions</span><br><br>
							<div class="pull-left retour" name="accueil"><span class="glyphicon glyphicon-arrow-left" style='color:white'></span><span style="color:orange" class='langue'>	retour</span></div><br><br>
							<span style="font-size:0.8em;color:white" class='langue'>
								(Nous vous prions de ne nous envoyer que des avis constructifs qui permettront ou contribueront à l'amelioration de notre mode de vie.)
							</span>
						<center>
					</h4><br>
					<form action ="#" data-url="https://findtagant.online/model/message.php" method="post" id="form_message">
						<div class="form-group shadow-textarea">
						  <textarea class="form-control z-depth-1 textareafr" name="message" style="color:#008080" id="exampleFormControlTextarea6" rows="3" placeholder="Ecrivez ici..."></textarea>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
							<button type ="submit" class="btn btn-success form-control langue"><span class="glyphicon glyphicon-ok-sign"></span> Envoyer</button>
						</div>
					</form>
				</div>